@page "/"
@inject SiteContext SiteContext

<div class="page-wrapper">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-md-9 col-xs-12">
                                <h2>
                                    <span>blog.</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    @foreach (var post in SiteContext.Posts)
                    {
                        <article class="post">
                            <div class="post-header">
                                <h2 class="post-title">
                                    <a href="/@post.Id">@post.Title</a>
                                </h2>
                                <ul class="post-meta">
                                    <li>
                                        <i class="mdi mdi-calendar"></i> @post.Date
                                    </li>
                                    @{ var delimiter = ""; }
                                    <li>
                                        <i class="mdi mdi-tag-text-outline"></i>    
                                    @foreach (var tag in post.Tags)
                                    {
                                        <a href="/tag/@tag">@delimiter @tag</a>
                                        delimiter = ", ";
                                    }
                                    </li>
                                    <li>
                                        <i class="mdi mdi-comment-multiple-outline"></i>
                                        @{ var commentLabel = post.CommentCount == 1 ? "comment" : "comments"; }
                                        <a href="/@post.Id">@post.CommentCount @commentLabel</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="post-preview">
                                <a href="/@post.Id">
                                    <img src="@(Path.Combine(SiteContext.BaseContentAddress, post.Id, post.Image))" alt="" class="img-fluid rounded">
                                </a>
                            </div>
                            <div class="post-content">
                                <p>@post.Description</p>
                            </div>
                        </article>
                    }
                    <Pagination />
                </div>
            </div>
        </div>
    </section>
</div>